@import 'tailwindcss';

:root {
  --background: #190723;
  --text: #fff6f6;
  --primary: #00ffc3;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --font-bebas: var(--font-bebas);
  --font-garamond: var(--font-garamond);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1,
.h1 {
  @apply text-9xl leading-28;
}

h2,
.h2 {
  @apply text-7xl leading-[72px];
}

h3,
.h3 {
  @apply text-5xl leading-14;
}

h4,
.h4 {
  @apply text-4xl leading-[42px];
}

h5,
.h5 {
  @apply text-[28px] leading-9;
}

.leading {
  @apply text-[32px] leading-10;
}

.eyebrow {
  @apply text-2xl leading-8 text-primary;
}

.logo {
  @apply font-garamond text-4xl leading-10;
}

.container {
  @apply max-w-[1224px] px-5 mx-auto;
}
